.search_container{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 350px;
    top: -20px;
        -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
}

.search_contents{
    padding-top: 30px;
    text-align: center;
}

.search_container:before{
    content: '';
    background-image: url('../../../static/flowers.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .59;
    z-index: -5;
    padding: 0;
    margin:0;
}

.results{
    display: flex;
    flex-wrap: wrap;
    /* update width in media query */
    width: 340px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

@media(min-width: 600px){
    .results{
        width: 550px;
    }
}

@media(min-width:900px){
    .results{
        width: 85%;
        max-width: 900px;
    }
}